<tr>
    <td>{{id}}</td>
    <td>{{showDiagnosticReportStatus status}}</td>
    <td>{{showObservationType type}}</td>
    <td>{{showDate effectivePeriod.begin}}</td>
    <td>{{showDate effectivePeriod.end}}</td>
    <td>{{showDate issuedDate}}</td>
    <td>{{resultInterpreter.name}} {{resultInterpreter.surname}}</td>
    <td>{{joinParagrathes resultInterpretation}}</td>
    <td>{{links imagineMedia}}</td>
    <td>{{links attachments}}</td>
    <td>
        <button type="button" class="btn btn-primary show-observations-btn" data-id="{{id}}" data-toggle="modal" data-target="#observations-dialog">Исследования/анализы</button>
    </td>
</tr>