<h1>Анализы / Исследования</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Статус</th>
                <th scope="col">Тип обследования</th>
                <th scope="col">Период годности. Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Дата публикации пациенту</th>
                <th scope="col">Врач, интерпретировавший результат</th>
                <th scope="col">Интерпретация результатов</th>
                <th scope="col">Список ссылок на изображения</th>
                <th scope="col">Список ссылок на документы</th>
                <th scope="col">Результаты</th>
            </tr>
        </thead>
        <tbody id="analisys-table-body">
        </tbody>
        </table>
    </div>