<tr>
    <th scope="row">{{id}}</th>
    <td>{{business.name}}</td>
    <td>{{showDate created}}</td>
    <td>{{showDate start}}</td>
    <td>{{showDuration duration}}</td>
    <td>{{doctor.name}} {{doctor.surname}}</td>
    <td>{{showListOfNames services}}</td>
    <td>{{showConfirmationStatus confirmationStatus}}</td>
    <td>{{boolYesNo clientAppear}}</td>
    <td>{{showPrice clientPrice}}</td>
    <td>
    {{#if hasResultId}}
        <button type="button" class="btn btn-primary appointment-result-btn" data-id="{{resultId}}" data-toggle="modal" data-target="#appointment-result-dialog">Результаты</button>
    {{/if}}
    </td>
</tr>