<div class="modal fade" id="auth-error" tabindex="-1" role="dialog" aria-labelledby="auth-error-label" aria-hidden="true"
        data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="auth-error-label">Ошибка доступа ЭМК</h5>
        </div> -->
        <div class="modal-body">
            <h3>Ошибка доступа ЭМК</h3>
            <p>Сообщение: {{message}}</p>
            <p>Шаг: {{step}}</p>
            <p>{{stack}}</p>
        </div>
      </div>
    </div>
  </div>