<h1>Список назначений</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>Дата создания</td>
                <td>PatientId</td>
                <td>Назначил врач</td>
                <td>Медикаменты</td>
                <td>Дозировка</td>
                <td>Причины назвачения</td>
                <td>Период приема (начало)</td>
                <td>Период приема (конец)</td>
                <td>Количество повторений</td>
            </tr>
        </thead>
        <tbody id="prescriptions-table-body">
        </tbody>
        </table>
    </div>