<h1>Рецепты</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата создания</th>
                <th scope="col">PatientId</th>
                <th scope="col">Назначил врач</th>
                <th scope="col">Медикаменты</th>
                <th scope="col">Дозировка</th>
                <th scope="col">Причины назвачения</th>
                <th scope="col">Период приема (начало)</th>
                <th scope="col">Период приема (конец)</th>
                <th scope="col">Количество повторений</th>
            </tr>
        </thead>
        <tbody id="prescriptions-table-body">
        </tbody>
        </table>
    </div>